[Unit]
Description=ALSA MIDI autoconnect daemon
After=sound.target

[Service]
ExecStart=/usr/local/bin/amidiauto

[Install]
WantedBy=multi-user.target

