[Unit]
Description=ALSA MIDI autoconnect daemon
After=sound.target

[Service]
ExecStart=/usr/local/bin/amidiauto
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target

